.main {
    height: 100vh;
}

/* .body-content {
  background: #000;
  color: #fff;
} */

.sidebar{
  background: rgb(90, 90, 90);
  color: white;
}

/* .sidebar ul {
  list-style: none;
}

.sidebar li {
  padding: 15px;
} */

.sidebar a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 20px 10px;
}

.sidebar a:hover {
  background: #000;
}

.active {
  background: #000;
  border-right: solid 10px orange;
}

.card-data {
    border: solid 1px;
    padding: 20px 50px;
    color: white;
}

.card-data.book{
    background-color: teal;
}

.card-data.category {
    background-color: rgb(182, 50, 2);
}

.card-data.user {
    background-color: rgb(78, 11, 185);
}

.card-data i {
    font-size: 80px;
}

.card-desc {
    font-size: 30px;
}

.card-count {
    font-size: 30px;
}